.relaxed {
    margin: 16px;
}

.white-text {
    color: azure;
}

.card-title {
    font-size: 30pt;
    color: #606060;
}

.monthly-amount{
    font-size: 46pt;
    color: orange;
    padding: 24px;
}

.premium-amount{
    font-size: 12pt;
    color: #606060;
    padding: 16px;
}

.first-amount{
    font-size: 12pt;
    color: #606060;
    padding: 16px;
}

.title {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #606060;
}

.frame {
    border: none;
}